        <!-- table of contents -->
        <section id="toc">
            <h1 id="mainTitle">{{ site.title }}</h1>
            <a href="https://www.google.com/travel/things-to-do?hl=en-CA&gl=ca&authuser=0" target="_blank" rel="noopener noreferrer"><h2 id="mainTitle">Things To Do - Google</h2></a>
            <a href="https://travel.destinationcanada.com/places-to-go/ontario" target="_blank" rel="noopener noreferrer"><h2 id="mainTitle">Things To Do - Ontario</h2></a>
            <p id="navigation"></p>

            <ul> <!-- your recipes will go here --> </ul>
        </section>
