<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body>
        <div class="demo-wrap">
            <center><img
              class="demo-bg"
              src="/images/aprin.png"
              alt=""
            ></center>
        <div id="wrapper" class="index demo-content">
            {% include content.html %}
            
            {% include script.html %}
       		<!-- jquery -->
            <!-- loads the recipes and adds the selected one below -->
            <script src="/js/jquery-3.3.1.min.js"></script>
            <script src="/js/utils.js"></script>
            <script src="/js/list-recipes.js"></script>    
        </div>
        </div>
        {% include footer.html %}
    </body>
</html>